<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Super tchat</title>
  <style>

  body {
	margin: 0px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  form#login {
	border: black 1px solid;
	background-color: lightblue;
	padding: 10px;
	width: 50%;
		   margin-top: 30vh;
  }

  form#login input[type=submit] {
	width: calc(100% - 5px);
  }

  h1 {
	margin: 5px;
  }

  input#pseudo {
	margin-top: 10px;
	margin-bottom: 10px;
	width: calc(100% - 20px);
  }

  </style>
 </head>
 <body>
  <form id="login" method="post" action="/login">
   <h1>Choisissez votre pseudo:</h1>
   <input type="text" name="pseudo" id="pseudo" placeholder="Entrez votre pseudo (30 caractères maximum)" maxlength="30"/>
   <input type="submit" value="Valider" />
  </form>
  <script src="./jq.js"></script>
  <script>
  $(function () {
  	$('input#pseudo').select();

  	$('input#pseudo').on('keydown', function (e) {
		if (e.which == 13) {
			$('form#login').submit();
		}
  	});
  });
  </script>
 </body>
</html>
