<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Super tchat</title>
  <link rel="stylesheet" type="text/css" href="./login.css" />
 </head>
 <body>
  <form id="login" method="post" action="/login">
   <h1>Choisissez votre pseudo:</h1>
   <input type="text" name="pseudo" id="pseudo" placeholder="Entrez votre pseudo (30 caractères maximum)" maxlength="30"/>
   <input type="submit" value="Valider" />
  </form>
  <script src="./jq.js"></script>
  <script type="text/javascript" src="./login.js"></script>
 </body>
</html>
